#app
  font-family: Roboto, sans-serif

#note
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  text-align: center

#note h1
  font-size: 15vh
  margin: 0
  
#note h3
  font-size: 4vh
  margin: 0

#legend
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  background: #eee
  border-top: 1px solid #ccc


#legend ul
  list-style: none
  
#legend li
  display: inline-block
  margin: 0 2em